.image{
    background-image: url("https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwi8qu6C3ozkAhVIzKQKHTufBksQjRx6BAgBEAQ&url=http%3A%2F%2Fwww.wou.edu%2F~ylazukina14%2Fkatyaweb%2Fimages%2F&psig=AOvVaw2vcwpVnIqvM_FXrirhGnxK&ust=1566225502683800");
    background-repeat: no-repeat;
    background-size: cover; 
    
}
