.image{
    background-image: url("https://d1yn1kh78jj1rr.cloudfront.net/image/thumbnail/rGMF3jSims9o98x/storyblocks-sunset-over-rocky-sea-coast_H8ogAvuyf_thumb.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    
}
